In [6]:
import pandas as pd
import numpy as np
from pymongo import MongoClient

In [ ]:
df= pd.read_csv("src/pokemonDB_dataset.csv")
df.head()

,Pokemon,Type,Species,Height,Weight,Abilities,EV Yield,Catch Rate,Base Friendship,Base Exp,...,Defense Max,Special Attack Base,Special Attack Min,Special Attack Max,Special Defense Base,Special Defense Min,Special Defense Max,Speed Base,Speed Min,Speed Max
0,Abomasnow,"Grass, Ice",Frost Tree Pokémon,2.2 m (7′03″),135.5 kg (298.7 lbs),"1. Snow Warning, Soundproof (hidden ability)","1 Attack, 1 Sp. Atk","60 (7.8% with PokéBall, full HP)",50 (normal),173,...,273,92,170,311,85,157,295,60,112,240
1,Mega Abomasnow,"Grass, Ice",Frost Tree Pokémon,2.7 m (8′10″),185.0 kg (407.9 lbs),1. Snow Warning,"1 Attack, 1 Sp. Atk","60 (7.8% with PokéBall, full HP)",50 (normal),208,...,339,132,242,399,105,193,339,30,58,174
2,Abra,Psychic,Psi Pokémon,0.9 m (2′11″),19.5 kg (43.0 lbs),"1. Synchronize, 2. Inner Focus, Magic Guard (h...",1 Sp. Atk,"200 (26.1% with PokéBall, full HP)",50 (normal),62,...,141,105,193,339,55,103,229,90,166,306
3,Absol,Dark,Disaster Pokémon,1.2 m (3′11″),47.0 kg (103.6 lbs),"1. Pressure, 2. Super Luck, Justified (hidden ...",2 Attack,"30 (3.9% with PokéBall, full HP)",35 (lower than normal),163,...,240,75,139,273,60,112,240,75,139,273
4,Mega Absol,Dark,Disaster Pokémon,1.2 m (3′11″),49.0 kg (108.0 lbs),1. Magic Bounce,2 Attack,"30 (3.9% with PokéBall, full HP)",35 (lower than normal),198,...,240,115,211,361,60,112,240,115,211,361

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1215 entries, 0 to 1214
Data columns (total 32 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Pokemon               1215 non-null   object
 1   Type                  1215 non-null   object
 2   Species               1215 non-null   object
 3   Height                1215 non-null   object
 4   Weight                1215 non-null   object
 5   Abilities             1215 non-null   object
 6   EV Yield              1215 non-null   object
 7   Catch Rate            1215 non-null   object
 8   Base Friendship       1215 non-null   object
 9   Base Exp              1215 non-null   object
 10  Growth Rate           1215 non-null   object
 11  Egg Groups            1215 non-null   object
 12  Gender                1215 non-null   object
 13  Egg Cycles            1215 non-null   object
 14  HP Base               1215 non-null   int64
 15  HP Min                1215 non-null   int64
 16  HP Max                1215 non-null   int64
 17  Attack Base           1215 non-null   int64
 18  Attack Min            1215 non-null   int64
 19  Attack Max            1215 non-null   int64
 20  Defense Base          1215 non-null   int64
 21  Defense Min           1215 non-null   int64
 22  Defense Max           1215 non-null   int64
 23  Special Attack Base   1215 non-null   int64
 24  Special Attack Min    1215 non-null   int64
 25  Special Attack Max    1215 non-null   int64
 26  Special Defense Base  1215 non-null   int64
 27  Special Defense Min   1215 non-null   int64
 28  Special Defense Max   1215 non-null   int64
 29  Speed Base            1215 non-null   int64
 30  Speed Min             1215 non-null   int64
 31  Speed Max             1215 non-null   int64
dtypes: int64(18), object(14)
memory usage: 303.9+ KB

In [9]:
df.columns

Index(['Pokemon', 'Type', 'Species', 'Height', 'Weight', 'Abilities',
       'EV Yield', 'Catch Rate', 'Base Friendship', 'Base Exp', 'Growth Rate',
       'Egg Groups', 'Gender', 'Egg Cycles', 'HP Base', 'HP Min', 'HP Max',
       'Attack Base', 'Attack Min', 'Attack Max', 'Defense Base',
       'Defense Min', 'Defense Max', 'Special Attack Base',
       'Special Attack Min', 'Special Attack Max', 'Special Defense Base',
       'Special Defense Min', 'Special Defense Max', 'Speed Base', 'Speed Min',
       'Speed Max'],
      dtype='object')

In [11]:
df.shape

(1215, 32)

In [12]:
df.describe()

,HP Base,HP Min,HP Max,Attack Base,Attack Min,Attack Max,Defense Base,Defense Min,Defense Max,Special Attack Base,Special Attack Min,Special Attack Max,Special Defense Base,Special Defense Min,Special Defense Max,Speed Base,Speed Min,Speed Max
count,1215.000000,1215.000000,1215.000000,1215.000000,1215.000000,1215.000000,1215.000000,1215.000000,1215.000000,1215.000000,1215.000000,1215.000000,1215.000000,1215.000000,1215.000000,1215.000000,1215.000000,1215.000000
mean,71.244444,252.397531,346.320165,81.152263,150.073251,286.658436,75.007407,139.011523,273.128395,73.224691,135.795885,269.203292,72.441152,134.396708,267.483951,70.034568,130.066667,262.236214
std,26.927819,54.187278,54.611949,32.037134,57.676629,70.480682,30.740999,55.341860,67.633071,32.757152,58.970125,72.081381,27.578188,49.643447,60.674744,30.161298,54.294135,66.380519
min,1.000000,1.000000,1.000000,5.000000,13.000000,119.000000,5.000000,13.000000,119.000000,10.000000,22.000000,130.000000,20.000000,40.000000,152.000000,5.000000,13.000000,119.000000
25%,52.000000,214.000000,308.000000,57.000000,107.000000,234.000000,52.000000,98.000000,223.000000,50.000000,94.000000,218.000000,51.000000,96.000000,221.000000,45.000000,85.000000,207.000000
50%,70.000000,250.000000,344.000000,80.000000,148.000000,284.000000,70.000000,130.000000,262.000000,65.000000,121.000000,251.000000,70.000000,130.000000,262.000000,68.000000,126.000000,258.000000
75%,85.000000,280.000000,374.000000,100.000000,184.000000,328.000000,91.000000,168.000000,309.000000,95.000000,175.000000,317.000000,90.000000,166.000000,306.000000,91.000000,168.000000,309.000000
max,255.000000,620.000000,714.000000,190.000000,346.000000,526.000000,250.000000,454.000000,658.000000,194.000000,353.000000,535.000000,250.000000,454.000000,658.000000,200.000000,364.000000,548.000000

In [13]:
df.select_dtypes(include="O").describe()

,Pokemon,Type,Species,Height,Weight,Abilities,EV Yield,Catch Rate,Base Friendship,Base Exp,Growth Rate,Egg Groups,Gender,Egg Cycles
count,1215,1215,1215,1215,1215,1215,1215,1215,1215,1215,1215,1215,1215,1215
unique,1215,221,733,63,527,704,50,38,9,204,6,61,9,12
top,Zygarde Complete Forme,Normal,Paradox Pokémon,0.6 m (2′00″),0.3 kg (0.7 lbs),1. Levitate,2 Attack,"45 (5.9% with PokéBall, full HP)",50 (normal),60,Medium Fast,Field,"50% male, 50% female","20 (4,884–5,140 steps)"
freq,1,82,22,97,15,35,124,381,964,29,478,223,726,626

In [ ]:
df_raw=df.copy()